.component.product-input-row {
  .new-product-input {
    align-items: center;
    place-content: center;

    max-width: 210px;
    width: 100%;

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: #22c55e;
      box-shadow: 0 0 5px rgba(34, 197, 94, 0.5);
    }
  }
}
