// Main colors
$green-dark: #064e3b;
$green: #15803d;
$green-light: #d7ffe4;
$yellow: #fee685;
$yellow-light: #fef3c6;
$yellow-dark: #973c00;
$main-bg: #e5e7eb;
$main-stroke: #d1d5db;
$alt-stroke: #ecfdf5;
$white: #ffffff;
$black: #000000;

// Font colors
$font-light: #4b5563;
$font-dark: #111827;

// Fonts
$tinos: var(--font-tinos), serif;
$arimo: var(--font-arimo), sans-serif;
